/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


.first {
  margin-left: 2%;
}

.col-1 {
  width: 75%;
}

.col-2 {
  width: 32%;
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}

.third {
  float: left;
  width: 50%;
  margin: 2%;
}

.fourth {
  width: 50%;
  margin: 2%;
}

.fifth {
  float: right;
  width: 50%;
  margin: 2%;
}

.sixth {
  float: left;
  width: 30%;
  margin: 2%;
}

.seventh {
  width: 30%;
  margin: 2%;
}

.eighth {
  float: right;
  width: 30%;
  margin: 2%;
}

.two_col {
  column-gap: 20px;
    margin-bottom: 20px;
    display: flex;
}

.three_col {
  column-gap: 20px;
  display: flex;
}

.foot_col {
  column-gap: 20px;
  display: flex;
}
